<ion-header>
  <ion-toolbar>
    <ion-title>Offers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-list>
        <ion-item *ngFor="let offer of offerList"  [routerLink]="['/','places','tabs','offers','offer.id']" detail>
          <ion-thumbnail slot="start">
            <ion-img [src]="offer.imageUrl"></ion-img>
          </ion-thumbnail>
          <ion-label>
            <h2>{{offer.title}}</h2>
            <p>{{offer.description}}</p>
          </ion-label>
        </ion-item>
      </ion-list>    
    </ion-col>
  </ion-row>  
</ion-grid>
</ion-content>
